@import "colors";

$slot-dimension: 180px;
$margin: 3px;
$columns: 3;

.artisti {
  h1 {
    color: #fff;
    font-family: 'Katahdin';
    font-size: 23px;
    text-align: center;
  }

  .artists-box {
    font-size: 0;
    position: relative;
    margin: 0 auto;
    max-width: $slot-dimension * $columns + $columns * 2 * $margin;

    .slot {
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      display: inline-block;
      height: $slot-dimension;
      overflow: hidden;
      position: relative;
      transition: all 0.3s ease;
      width: $slot-dimension;
      margin: $margin;

      &.slot-big {
        width: 1.5 * $slot-dimension;
        height: 0.8 * $slot-dimension;
        margin-left: $columns / 2 * $margin;
        margin-right: $columns / 2 * $margin;
      }


      .full-description {
        display: none;
      }

      .artist-name {
        color: $yellowish;
        font-family: 'Katahdin';
        font-size: 16px;
        opacity: 1;
        position: absolute;
        padding: 10px;
        width: 100%;
        transition: all 0.3s ease;
      }

      & > .artist-name {
        background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,.6));
        bottom: 0px;
      }

      &:hover > .artist-name {
        opacity: 0;
        bottom: -30px;
      }

      .details {
        // background: $dark-slate-blue-90;
        background: $dark-slate-blue;
        height: 100%;
        opacity: 0;
        transition: all 0.3s ease;
        width: 100%;

        .artist-name {
          top: -30px;
          opacity: 0;
        }

        .info {
          color: #fff;
          font-family: "Roboto";
          font-size: 13px;
          opacity: 0;
          padding: 16px;
          position: absolute;
          top: -100px;
          transition: all 0.3s ease;
        }

        &:hover {
          opacity: 1;

          .artist-name {
            top: 0px;
            opacity: 1;
          }

          .info {
            opacity: 1;
            top: 40px;
          }
        }
      }

      &:hover {
        background-size: auto 130%;
      }
    }

    .slot-alex-jaxx-smooth-band {
      background-image: url("../images/artists/alex-jaxx-smooth-band.jpg");
    }
    .slot-hot-club-de-bucharest {
      background-image: url("../images/artists/hot-club-de-bucharest.jpg");
    }
    .slot-viorica-pintilie-trio {
      background-image: url("../images/artists/viorica-pintilie-trio.jpg");
    }
    .slot-a-c-leonte-quartet {
      background-color: #18140b;
      background-image: url("../images/artists/a-c-leonte-quartet.png");
    }
    .slot-sorin-romanescu-si-elena-morariu {
      background-color: #000;
      background-image: url("../images/artists/sorin-romanescu-si-elena-morariu.png");
    }
    .slot-hippie-music {
      background-image: url("../images/artists/hippie-music.jpg");
      background-size: auto 130%;

      &:hover {
        background-size: auto 150%;
      }
    }
    .slot-opis-band {
      background-image: url("../images/artists/opis-band.jpg");
    }
    .slot-andra-botez {
      background-image: url("../images/artists/andra-botez.png");

      background-size: auto 170%;

      &:hover {
        background-size: auto 190%;
      }
    }
  }
}

.selected-slot-state  .artisti .artists-box {
  .slot {
    position: absolute;
    transform: scale(0.001);
    opacity: 0;

    &.selected {
      opacity: 1;
      width: 100%;
      height: 2.8 * $slot-dimension;
      display: block;
      transform: none;
      position: relative;

      .small-description {
        display: none;
      }
      .full-description {
        display: block;
      }
    }
  }

}
