$dark-grey-blue: #285b61;
$dark-slate-blue: rgba(35,78,90,0.70);
$dark-slate-blue-90: rgba(35,78,90,0.90);
$tealish: #20cfc1;
$tealish-30: rgba(32,207,193,0.30);
// $yellowish: #fdee5d;
$yellowish: #D6DC37;
$sea: #2f8987;
$blue: #184055;
