@import "colors";
@import "variables";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $gray !important;
}

hr {
  border: 1px dashed #1FCEC0;
  margin: 10px 0;
}

.nowrap {
  white-space: nowrap;
}

#menu {

  background: $dark-slate-blue;
  background: $blue;
  border-bottom: 1px solid $tealish-30;
  position: fixed;
  top: 0;
  left: 0;
  height: $menu-height;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;

  .logo {
    float: left;
    height: 33px;
    margin-left: 117px;
    margin-right: 30px;
    margin-top: 12px;
    width: 23px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .menu-items {
    display: inline-block;
    li {
      display: inline-block;
      list-style: none;
      line-height: $menu-height;
      margin-right: 10px;

      a {
        font-family: 'Roboto';
        color: $gray;
        font-size: 13px;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s ease;

        &:hover {
          color: $yellowish;
        }
      }

      &.active a {
        color: $yellowish;
      }
    }
  }

  .social-media {
    display: inline-block;
    position: absolute;
    right: 100px;

    div {
      display: inline-block;
      color: #fff;
      font-family: 'Roboto';
      font-weight: 300;
      line-height: $menu-height;
      margin-right: 30px;
    }

    .facebook::before {
      transform: translateY(20px);
    }
  }

  .drawer-btn {
    color: $gray;
    float: right;
    display: none;

    i {
      cursor: pointer;
      font-size: 17px;
      line-height: $menu-height;
      padding: 0 15px;
      top: 0;
      user-select: none;
    }
  }
}
.email::before,
.facebook::before,
.twitter::before {
  display: inline-block;
  content: "";
  height: 20px;
  width: 20px;
}

.email::before {
  background: url(../images/icon-email.png) no-repeat;
  transform: translateY(6px) translateX(-5px);
  background-size: cover;
}
.facebook::before {
  background: url(../images/icon-fb-gray.png) no-repeat;
  transform: translateY(5px);
}
.twitter::before {
  background: url(../images/icon-twitter.png) no-repeat;
  transform: translateX(-5px) translateY(5px);
}

.section {
  background: url(../images/pattern.png);
  background-color: $blue;
}

.next-page {
  bottom: 20px;
  color: $yellowish;
  cursor: pointer;
  font-family: 'Adam';
  font-size: 12px;
  left: 50%;
  opacity: 1;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  transition: all 0.5s ease;

  &.go-away {
    opacity: 0;
  }

}

h1 {
  color: #fff;
  text-align: center;
  font-family: 'Katahdin';
  font-size: 24px;
}
