@import "colors";

.contact {
  .box {
    margin-top: 100px;
  }
  a {
    font-family: 'Roboto';
    color: $gray;
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: $yellowish;
    }
  }
}
