@font-face {
  font-family: "Katahdin";
  src: url("../fonts/KatahdinRound.otf");
}

@font-face {
  font-family: "Adam";
  src: url("../fonts/AdamPro.otf");
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,500);
