@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "colors";

.acasa {
  // background: $dark-grey-blue url("../images/trumpet.png");
  // background: $blue url("../images/trumpet.png");
  background: url("../images/JazzDrawing.png");
  background-color: $blue;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .home-wrapper {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    float: left;
    opacity: 0;

    animation: fade-in 0.5s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .logo-wrapper {
    white-space: nowrap;
    position: relative;
    transform: translateY(-50%);
    top: 184px;

    @media (max-width: $screen-sm-min) {
      top: 0;
      transform: none;
    }
  }

  .artists-wrapper {
    float:left;
  }

  .logo {
    transform: translateX(20px) translateY(-60px);
    display: inline-block;
  }

  .details-wrapper {
    font-family: 'Katahdin';
    margin-right: 50px;
    display: inline-block;
    //transform: translateX(-20px) translateY(50px);

    .fest-name {
      color: $tealish;
      font-size: 26px;
    }

    .fest-date {
      color: $yellowish;
      font-size: 24px;
    }

    .fest-place {
      color: $sea;
      font-size: 17px;
    }
  }

}
.artists-wrapper {
  // max-width: 400px;
  max-width: 500px;
  @media (max-width: $screen-sm-min) {
    text-align: center;
  }

  .artist-name {
    color: $dark-grey-blue;
    background: $yellowish;
    border-radius: 30px;
    font-family: 'Katahdin';
    font-size: 16px;
    padding: 5px 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    line-height: 15px;
    display: inline-block;
    transition: all 100ms ease-in-out;

    &:hover,
    &:active {
      background: $blue;
      color: $yellowish;
      text-decoration: none;
    }
  }
}
