@import "colors";

.parteneri {

  h1 {
    color: #fff;
    text-align: center;
    font-family: 'Katahdin';
    font-size: 24px;
  }

  .box {
    $box-height: 500px;

    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    height: $box-height;
    margin: 0 auto;
    max-width: 1000px;
    width: 80%;
  }
}
