@import "colors";

.parteneri {
  width: auto !important;
  padding-right: 20px;

  .box {
    $box-height: 450px;

    // background: #fff;
    background: $blue;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    // height: $box-height;
    // margin: 0 auto;
    // max-width: 1000px;
    width: 90%;
    text-align: center;
    margin: 20px;

    .slot {
      display: inline-block;
      margin: 10px;
      transition: all 300ms ease-out;

      &:hover,
      &:active {
        transition: all 200ms ease-in;
        transform: scale(1.1);
      }
    }
  }
}
