band {
  display: block;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px;
}

.band__title {
  font-szie: 24px;
}

.band__desc {

}

.band__member-count {
  color: red;
}
